[Unit]
Description=Heapdump Trigger HTTP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/heapdumpd/server.py
Restart=on-failure
User=ubuntu
Group=ubuntu

# Restrict permissions for security
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=no
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

[Install]
WantedBy=multi-user.target

